
section {
  border: 1px solid rgba(6, 25, 98, 0.18);
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 24px;
  color: #061962;
  font-size: 14px;
  line-height: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 600px;
  min-width: 310px;
}

header {
  color: #061962;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 60px;
  font-size: 16px;
  font-weight: 600;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */

.tab {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid rgba(6, 25, 98, 0.18);
  background: #FFFFFF;

  &:last-child {
    border-bottom: unset;
  }

  .tab-label {
    display: flex;
    align-items: center;
    padding: 18px;
    cursor: pointer;


    &::before {
      content: " ";
      text-align: center;
      transition: all .35s;
      margin-left: 18px;
      color: #183FF5;
      width: 16px;
      height: 16px;
    }
  }

  .tab-content {
    max-height: 0;
    background: #F4F6FF;
    transition: all .35s;
    text-align: right;
    white-space: pre-line;
    line-height: 2rem;

    > * {
      display: none;
    }
  }

  ::ng-deep strong {
    font-weight: bold;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
  }
}


// :checked
input:checked {
  + .tab-label {
    &::before {
      content: " ";
    }
  }

  ~ .tab-content {
    max-height: 2000px;
    padding: 18px 24px;

    * {
      display: block;
    }
  }
}

